*

!order-service
!order-service/**
!shared
!shared/**
!frontend
!frontend/**

order-service/server
order-service/app
order-service/*.test

frontend/node_modules
frontend/dist
frontend/c.docx
frontend/c.epub
frontend/new.go
